{% extends 'base.html' %}

{% block titulo %}
    {{ configuracoes.nome_da_empresa }} | Combos
{% endblock %}

{% block conteudo %}
<section class="secao-combos" id="combos">
    <div class="container">
        <h2>Combos de Serviços</h2>
        <div class="cards-container">
            {% for combo in combos %}
            <article class="cartao-combo">
                <div class="icone-cartao"><i class="fa-solid fa-box-open"></i></div>
                <h3>{{ combo.nome_do_combo }}</h3>
                <p>{{ combo.descricao_do_combo }}</p>
                <ul>
                    {% for beneficio in combo.beneficios %}
                    <li>{{ beneficio }}</li>
                    {% endfor %}
                </ul>
                <p class="preco">Preço Sugerido: {{ combo.preco_sugerido }}</p>
            </article>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock %}